/** @define Header; use strict */

.Header {
    @height: 80px;

    height: @height;
    font-size: 40px;
    line-height: @height - 1;
    font-family: 'Museo Slab';
    color: #404040;

    transition: all 1s;

    @media @sm-view {
        height: 40px;
        line-height: 39px;
        font-size: 28px;
    }

    .Header-logo {
        margin-left: @height / 2;

        @media @sm-view {
            margin-left: 5px;
        }
    }

    .Header-menu {
        margin-right: @height / 2;
        height: @height;

        @media @sm-view {
            margin-right: 5px;
        }
    }

    .Header-menuLine {
        width: @height / 2;
        height: 3px;
        background: #898989;
    }
}
