/** @define Header; use strict */

:root {
    --Header-height: 80px;
}

.Header {
    height: var( --Header-height );
    color: #404040;
    font-family: 'Museo Slab';
    font-size: 40px;
    line-height: var( --Header-height );
}

.Header-logo {
    margin-left: 40px;
}

@media (--sm-viewport) {
    .Header {
        height: 40px;
        line-height: 40px;
        font-size: 28px;
    }
    .Header-logo {
        margin-left: 5px;
    }
}
