

/**
 * Component includes
 * ---
 * @TODO this can/should be automated
 */
@import 'suitcss';
@import './components/header/header.css';


/* Media query aliases */
@custom-media --lg-viewport ( max-width: 1023px );
@custom-media --md-viewport ( max-width: 979px );
@custom-media --sm-viewport ( max-width: 640px );


/**
 * Base
 * ---
 * @TODO this should not be a permanent home
 */

:root {
    --bg-color: #fafafa;
    --color: #404040;
}

body {
    color: var( --color );
    background: var( --bg-color );
    margin: 0;
    padding: 0px;
    font-family: 'Helvetica Neue', 'Lucida Grande', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
}

@media (--lg-viewport) {

}
@media (--md-viewport) {

}
@media (--sm-viewport) {

}


h1 {
    color: var( --color );
    font-weight: 300;
}
